<div class="heading">
  {{ selectedRestaurant ? "Edit" : "Add New" }} Restaurant
</div>
<form class="form" (ngSubmit)="saveRestaurant()" #restaurantForm="ngForm">
  <label for="name">Name: <span class="required">*</span></label>
  <input
    type="text"
    id="name"
    [(ngModel)]="restaurantFormModel.name"
    name="name"
    required
    maxlength="50"
    placeholder="Enter Restaurant Name"
  />
  <small class="error"> Max Character 50 <span>{{restaurantFormModel.name.length}}/50</span></small>

  <label for="location">Location: <span class="required">*</span></label>
  <input
    type="text"
    id="location"
    [(ngModel)]="restaurantFormModel.location"
    name="location"
    required
    maxlength="100"
    placeholder="Enter Restaurant Location"
  />
  <small class="error"> Max Character 100 <span>{{restaurantFormModel.location.length}}/100</span></small>

  <label for="description">Description: <span class="required">*</span></label>
  <input
    type="text"
    id="description"
    [(ngModel)]="restaurantFormModel.description"
    name="description"
    required
    maxlength="200"
    placeholder="Enter Restaurant Description"
  />
  <small class="error"> Max Character 200 <span>{{restaurantFormModel.description.length}}/200</span></small>

  <button type="submit" [disabled]="restaurantForm.invalid">
    {{ selectedRestaurant ? "Update" : "Add" }} Restaurant
  </button>
</form>
